{{page-title "Signup"}}

<h2>Signup</h2>

<form>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" value="name@example.com" readonly>
        <label for="email">Email address</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="pilot-name" placeholder="Pilot name">
        <label for="pilot-name">Pilot name</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="ship-name" placeholder="Ship name">
        <label for="ship-name">Ship name</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
