<h2>Welcome to The Sokown Company</h2>

<p>
    Traveling through space was once long, dangerous, and especially very expensive. But everything changed in 2019 with
    the discovery of sokown, the « crimson gold », a miraculous fuel that put Mars less than a week's journey from
    Earth.
</p>
<p>
    Today, space freighters crisscross the solar system, their holds full of precious goods, and The Sokown Company
    needs brave pilots to guide them to their destination.
</p>
<p>
    Does the void of space frighten you? Don't worry, all our spaceships are remote controlled, and you can pilot them
    from the comfort of your home. All you need to join the adventure is a phone connected to the internet.
</p>
<p>
    Ready to head for the stars?<br />
    Join The Sokown Company today, and we’ll provide* your first spaceship with a full tank&nbsp;!
</p>

<p>
    <LinkTo class="btn btn-primary" @route="user.login">Join now</LinkTo>
</p>

<p class="text-muted">
    <small>
        *against a very advantageous loan repayable over 25 years.
    </small>
</p>
