/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

h2 {
  margin: 24px 0;
}

/* Definitions */

dl dt {
  padding: 4px;
  padding-right: 8px;
  margin-bottom: 4px;
}

@media (width >= 768px) {
  dl {
    display: flex;
    flex-wrap: wrap;
  }

  dl dt {
    text-align: right;
    width: 25%;
  }

  dl dd {
    padding: 4px;
    padding-left: 8px;
    width: 75%;
  }
}

/* Position */

.Position {
  border: 1px solid lightgrey;
  border-radius: 4px;
  display: inline-flex;
  font-family: monospace;
  font-size: 0.85rem;
}

.Position__label {
  background: rgb(0 0 0 / 5%);
  padding: 2px 8px;
}

.Position__coordinate {
  padding: 2px 4px 0 0;
  display: inline-block;
  text-align: right;
  width: 75px;
}

.Position__coordinate:first-child {
  border-right: 1px solid lightgrey;
}

/* StarMap */

.StarMap {
  background: black;
  margin: auto;
  max-width: 768px;
}
