<div class="container">
  <header>
    <h1>Sokown</h1>
    <nav>
      <LinkTo @route="home">Home</LinkTo>
      <LinkTo @route="about">About</LinkTo>
    </nav>
  </header>

  <main>
    {{yield}}
  </main>
</div>