<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <LinkTo class="navbar-brand" @route="home" role="heading" aria-level="1">Sokown</LinkTo>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <LinkTo class="nav-link" @route="ships.list">Ships</LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo class="nav-link" @route="locations.list">Locations</LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo class="nav-link" @route="about">About</LinkTo>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            {{#if this.isUserAuthenticated}}
                <LinkTo class="nav-link" @route="user.profile">{{this.pilotName}}</LinkTo>
            {{else}}
                <LinkTo class="nav-link" @route="user.login">Log in</LinkTo>
            {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>
